body {background-color:#EDE5A4; text-align:justify;font-size:15px;}
h1 {text-align:center; background-color:#180000;color:#180000:}
h3 {test-align:justify;color:#000000:;}
b {color:#000000;font-size:15px;}
i {color:#000000; font-size:15px;}
header,footer{background-color:#4F2511; color:#4F2511; text-align: center; font: }
main {background-color:#000000;}