body {background-color:#EDE5A4; text-align:justify;font-size:15px;}
b {color:#D16D82;font-size:15px;}
b {color:#590D64;font-size:15px;}
h1 {text-align:center; background-color:#F57373;color:#6b2020:}
h3 {text-align:justify;color:#F7130F:;}
b {color:#F57373;font-size:15px;}
i {color:#0d520b; font-size:15px;}
header,footer{background-color:#cedf39; color:#e04f0c; text-align: center; font: }
main {background-color:#dbaa61;}